@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.doc-body ul, ol {
  margin-bottom: 20px;
}

.doc-body li {
  margin-left: 20px;
  margin-bottom: 8px;
}

.doc-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

.doc-body p {
  margin-bottom: 20px;
  margin-top: 10px;
}

.doc-body summary {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
}

.doc-body h3 {
  font-size: 20px;
  font-weight: bold;
}

.doc-body img {
  margin-bottom: 10px;
}

.doc-body a {
  text-decoration: underline;
  color: #3D88F8;
}
