@import './constants.scss';

.connect {
  width: 500px;
  .bg-red {
    margin-top: 1rem;
    text-align: center;
    font-family: $title-font;
    width: 100%;
    height: 50px;
    background: $red;
    border: none;
    border-radius: 5px;
    color: $white;
    transition: background-color 0.25s;
  }
  .bg-red:hover {
    cursor: pointer;
    background-color: $red-hover;
  }
  p {
    margin: 10px;
    font-size: 18px;
    color: $red;
    font-family: $para-font;
  }
}
