$title-font: 'Rubik Mono One', sans-serif;
$para-font: 'Roboto', sans-serif;
$red: #ff3864;
$grey: #a4a4a4;
$light-grey: #dadada;
$white: #ffffff;
$dark-grey: #262626;
$black: #000;
$radius: calc(100vw + 100vh);
