$title-font: 'Rubik Mono One', sans-serif;
$body-title-font: 'Rubik One', sans-serif;
$para-font: 'Roboto', sans-serif;
$red: #ff3864;
$red-hover: rgba(255, 56, 100, 0.5); 
$grey: #a4a4a4;
$light-grey: #dadada;
$border-grey: #505050;
$white: #ffffff;
$white-hover: rgba(255, 255, 255, 0.2);
$dark-grey: #262626;
$black: #000;
$radius: calc(100vw + 100vh);
