@import './constants.scss';

.create-invoice {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.invoice-step-details {
  .section-title {
    color: $red;
    font-family: $body-title-font;
    font-size: 24px;
  }
  .step-title {
    color: $light-grey;
    font-family: $para-font;
    font-weight: 900;
    margin-top: 1rem;
  }
  .step-details {
    color: $grey;
    margin-top: 1rem;
    font-size: 14px;
    font-family: $para-font;
    max-width: 25rem;
  }
}

a {
  text-decoration: underline;
}

.project-details-form,
.payment-chunks-form,
.payment-details-form,
.form-confirmation {
  background: $dark-grey;
  height: 450px;
  width: 42rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
  border-radius: 10px;
  .ordered-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .tooltip {
      position: absolute;
      right: 1rem;
      font-size: 12px;
      color: $red;
      font-family: $para-font;
      sl-tooltip::part(base) {
        width: 200px;
        text-align: center;
      }
    }
    label {
      color: $red;
      font-size: 16px;
      font-family: $para-font;
      margin-bottom: 5px;
    }
    input {
      height: 40px;
      background-color: $black;
      color: $white;
      border: none;
      border-radius: 4px;
      padding: 5px;
      font-family: $para-font;
      outline: none;
      width: 100%;
    }
    #arb-fee-desc {
      padding: 0.5rem;
      height: 100%;
      font-size: 14px;
      color: #e5e5e5;
      font-family: $para-font;
      width: 100%;
    }
    .input-symbol {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      background-color: $black;
      color: $white;
      border: none;
      border-radius: 4px;
      padding: 5px;
      font-family: $para-font;
      outline: none;
      width: 100%;
      position: relative;
      span {
        position: absolute;
        color: white;
        right: 1rem;
        margin: auto 0;
      }
    }
  }
  .info-note {
    color: #a4a4a4;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    text-align: right;
    margin-top: auto;
  }
  .parallel-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    input {
      width: 200px;
    }
  }
}

.payment-details-form {
  .parallel-inputs {
    select {
      height: 40px;
      width: 200px;
      background-color: $black;
      border: none;
      color: $white;
      font-family: $para-font;
      outline: none;
    }
  }
  sl-checkbox::part(control) {
    width: 30px;
    height: 30px;
    color: $red;
    background-color: $black;
    border: none;
  }
  sl-checkbox::part(label) {
    font-size: 14px;
    color: #e5e5e5;
    font-family: $para-font;
  }
  sl-checkbox {
    a {
      color: #e5e5e5;
    }
  }
}

.payment-chunks-form {
  .parallel-inputs {
    input {
      width: 250px;
    }
    .ordered-inputs > input {
      width: 100%;
    }
    sl-switch::part(thumb) {
      background-color: $red;
      border: none;
    }
    sl-switch::part(control) {
      background-color: $black;
      border: none;
    }
  }
}

.form-confirmation {
  color: $white;
  font-family: $para-font;
  #project-title {
    font-size: 22px;
    font-weight: 900;
  }
  a {
    color: $white;
  }
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .total-payment-info {
    width: 50%;
    margin-left: auto;
    p:nth-child(2) {
      color: $red;
      font-weight: 900;
    }
  }
}

.form-action-buttons {
  margin-top: 20px;
  #back-button {
    font-family: $title-font;
    width: 150px;
    height: 50px;
    background: $black;
    border: 2px solid $red;
    border-radius: 5px;
    color: $red;
    &:hover {
      background-color: $white-hover;
    }
  }
  #next-button {
    font-family: $title-font;
    width: 500px;
    height: 50px;
    background: $red;
    border: none;
    border-radius: 5px;
    color: $white;
    float: right;
    &:hover {
      background-color: $red-hover;
    }
  }
  button {
    cursor: pointer;
    transition: background-color 0.25s;
    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 1200px) {
  .create-invoice {
    flex-direction: column;
  }
  .invoice-step-details {
    margin-bottom: 2rem;
    .step-details {
      max-width: 42rem;
    }
  }
}
