@import './constants.scss';

.register-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $para-font;
  #title {
    color: $red;
    font-family: $body-title-font;
    font-size: 2rem;
  }
  #transaction-text {
    color: $white;
    font-size: 0.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    a {
      color: $red;
    }
  }
  #info-text {
    font-style: italic;
    color: $white;
    font-size: 1rem;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    .label {
      color: $red;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .value {
      background: $dark-grey;
      color: $white;
      width: 30rem;
      height: 3rem;
      border-radius: 0.5rem;
      font-size: 1rem;
      padding: 1rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #return-home-button {
    margin-top: 1.5rem;
    font-family: $title-font;
    width: 30rem;
    height: 3rem;
    background: $black;
    border: 2px solid $red;
    border-radius: 0.5rem;
    color: $red;
  }
  #return-home-button {
    cursor: pointer;
  }
}
