@import './constants.scss';

.register-success {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $para-font;
  #title {
    color: $red;
    font-family: $body-title-font;
    font-size: 34px;
  }
  #transaction-text {
    color: $white;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 30px;
    a {
      color: $red;
    }
  }
  #info-text {
    font-style: italic;
    color: $white;
    font-size: 16px;
  }
  div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .label {
      color: $red;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .value {
      background: $dark-grey;
      color: $white;
      width: 480px;
      height: 50px;
      border-radius: 5px;
      font-size: 1rem;
      padding: 1rem;
      overflow: hidden;
      a {
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
      }
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #return-home-button {
    margin-top: 25px;
    font-family: $title-font;
    width: 480px;
    height: 50px;
    background: $black;
    border: 2px solid $red;
    border-radius: 5px;
    color: $red;
  }
  #return-home-button {
    cursor: pointer;
  }
}
