@import './constants.scss';

.release-funds {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  .release-amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    padding: 1rem 5rem;
    background: black;
    border-radius: 0.5rem;
    .label {
      color: $red;
      font-size: 0.875rem;
    }
    .value {
      color: $white;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
  button {
    margin: 1rem 0;
    height: 50px;
    border: none;
    padding: 0 0.5rem;
    width: 100%;
    background: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $title-font;
    transition: background-color 0.25s;
    cursor: pointer;
    border: 2px solid $red;
    border-radius: 4px;
    color: $red;
    &:hover {
      background-color: $white-hover;
    }
  }
}
