@import './constants.scss';

header {
  z-index: 1;
  color: $white;
  font-family: $title-font;
  position: absolute;
  width: 100%;
  .logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 32px;
    padding: 1rem;
  }

  #logo {
    width: 250px;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px 0 0 30px;
  }
  #logo:hover {
    cursor: pointer;
  }
  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 70px 0 0;
    z-index: 1;

    .fa-bars {
      color: #ff3864;
      transition: all 1s ease-out;
      width: 36px;
      height: auto;
    }

    .fa-bars:hover {
      transform: rotateZ(90deg);
      transition: all 1s ease-out;
      cursor: pointer;
    }
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 2s ease-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    li {
      list-style: none;
      opacity: 1;
      transition: all 0.5s ease 0.4s;
      a, span {
        cursor: pointer;
        font-size: 25px;
        color: #ff3864;
        text-decoration: none;
      }
      a::after, span::after {
        transition: all ease-in-out 0.2s;
        background: none repeat scroll 0 0 #ff3864;
        content: '';
        display: block;
        height: 2px;
        width: 0;
      }
      a:hover::after, span:hover::after {
        width: 100%;
      }
    }
    li.fade {
      opacity: 1;
    }
  }
  .nav-links.open {
    clip-path: circle($radius at 90% -10%);
    -webkit-clip-path: circle($radius at 90% -10%);
    pointer-events: all;
  }
}
