@import './constants.scss';

.view-invoice {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.view-invoice {
  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    #right-col {
      margin-top: 2rem;
    }
    #title {
      color: $red;
      font-family: $title-font;
      font-size: 24px;
      font-weight: normal;
    }
    #description,
    a {
      color: $light-grey;
      font-family: $para-font;
      font-size: 18px;
      font-weight: normal;
    }
    p {
      color: $light-grey;
      font-family: $para-font;
      font-size: 12px;
    }
  }
  .payment-info-container {
    width: 100%;
    max-width: 42rem;
    .payment-info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: $dark-grey;
      padding: 2rem 0;
      border-radius: 10px;
      .hr-line {
        background-color: black;
      }
      div {
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $white;
        font-family: $para-font;
        font-size: 16px;
        font-weight: lighter;
      }
      #payment-milestone {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        div {
          margin-top: 5px 0;
        }
      }
      #deposited-amount {
        display: flex;
        flex-direction: column;
      }
      #total-amount {
        font-size: 18px;
        font-weight: bold;
      }
      #due-amount {
        font-size: 18px;
        color: $red;
        font-weight: bold;
      }
    }
    .invoice-buttons {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      button {
        margin-left: 2rem;
        height: 50px;
        min-width: 200px;
        border: none;
        background: none;
        font-size: 18px;
        text-transform: uppercase;
        font-family: $title-font;
        transition: background-color 0.25s;
        cursor: pointer;
      }
      #secondary-buttons {
        flex: 1;
        display: flex;
        justify-content: space-between;
        #lock-button,
        #deposit-button {
          border: 2px solid $red;
          border-radius: 4px;
          color: $red;
          &:hover {
            background-color: $white-hover;
          }
        }
        #lock-button {
          margin-left: 0;
        }
      }
      #primary-button {
        border: 2px solid $red;
        border-radius: 4px;
        background-color: $red;
        color: $white;
        &:hover {
          border-color: $red-hover;
          background-color: $red-hover;
        }
      }
    }
  }
}

.modal {
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: $modal-grey;
    border-radius: 8px;
    padding: 2rem;
    p {
      margin: 0.5rem 0;
    }
    font-weight: normal;
    font-family: $para-font;
    font-size: 1rem;
    h1 {
      font-family: $title-font;
      font-size: 1.75rem;
    }
    .modal-note {
      font-size: 0.9rem;
    }
  }
  .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    &::after,
    &::before {
      background-color: $close-grey;
    }
  }
}

@media (max-width: 1200px) {
  .view-invoice {
    flex-direction: column;
    .project-info {
      margin-bottom: 2rem;
      flex-direction: row;
      #right-col {
        margin-top: 0;
        margin-left: 2rem;
      }
    }
  }
}
