INFURA_PROJECT_ID='<infura key>'
PRIVATE_KEY='<wallet private key>'

# verification
ETHERSCAN_API_KEY='<etherscan api key>'
POLYGONSCAN_API_KEY='<polygonscan api key>'
GNOSISSCAN_API_KEY='<gnosisscan api key>'
ARBISCAN_API_KEY='<arbiscan api key>'
OPTIMISTIC_ETHERSCAN_API_KEY='<optimistic etherscan api key>'
BASESCAN_API_KEY='<basescan api key>'
ZORAENERGY_API_KEY='<zoraenergy api key>'

# coinmarketcap
COINMARKETCAP_API_KEY='<coinmarketcap api key>'

# fork sepolia for (zap) tests
FORK=true
